root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 4

[*.{csproj,json,config,yml,props}]
indent_size = 2

[*.sh]
end_of_line = lf
indent_size = 2
